Simulators/NodeRedSimulator.json
[
    {
        "id": "5f6f4b7beb3e806b",
        "type": "group",
        "z": "1e7bc46a3c1e81f5",
        "name": "Lampes",
        "style": {
            "fill": "#ffff00",
            "label": true,
            "label-position": "n",
            "color": "#001f60",
            "fill-opacity": "0.45"
        },
        "nodes": [
            "a93b220be6c4b8e2",
            "d8f89c05fba68418",
            "17ee4f69412a2435",
            "40bc9badf050cf94",
            "25ed938f5392b23b"
        ],
        "x": 54,
        "y": 39,
        "w": 682,
        "h": 202
    },
    {
        "id": "a93b220be6c4b8e2",
        "type": "mqtt in",
        "z": "1e7bc46a3c1e81f5",
        "g": "5f6f4b7beb3e806b",
        "name": "Commande Lampe",
        "topic": "CMD_Lampe_Salon",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e12ef56e.5c2b88",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "d8f89c05fba68418"
            ]
        ]
    },
    {
        "id": "d8f89c05fba68418",
        "type": "function",
        "z": "1e7bc46a3c1e81f5",
        "g": "5f6f4b7beb3e806b",
        "name": "Contrôler Lampe",
        "func": "msg.payload = (msg.payload === true);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 140,
        "wires": [
            [
                "17ee4f69412a2435"
            ]
        ]
    },
    {
        "id": "17ee4f69412a2435",
        "type": "mqtt out",
        "z": "1e7bc46a3c1e81f5",
        "g": "5f6f4b7beb3e806b",
        "name": "État Lampe",
        "topic": "Salon/Lampe/Light",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e12ef56e.5c2b88",
        "x": 640,
        "y": 140,
        "wires": []
    },
    {
        "id": "40bc9badf050cf94",
        "type": "inject",
        "z": "1e7bc46a3c1e81f5",
        "g": "5f6f4b7beb3e806b",
        "name": "Allumer la lampe",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "17ee4f69412a2435"
            ]
        ]
    },
    {
        "id": "25ed938f5392b23b",
        "type": "inject",
        "z": "1e7bc46a3c1e81f5",
        "g": "5f6f4b7beb3e806b",
        "name": "Éteindre la lampe",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "bool",
        "x": 180,
        "y": 200,
        "wires": [
            [
                "17ee4f69412a2435"
            ]
        ]
    },
    {
        "id": "e12ef56e.5c2b88",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d6e0ae3ba0b3d728",
        "type": "group",
        "z": "1e7bc46a3c1e81f5",
        "name": "Temperature Sensor",
        "style": {
            "stroke": "#000000",
            "fill": "#ff0000",
            "label": true,
            "label-position": "n",
            "color": "#000000",
            "fill-opacity": "0.43"
        },
        "nodes": [
            "5be49851b8e7173f",
            "3cc4ff3cd151045f",
            "0f6412a6bb6f926f"
        ],
        "x": 54,
        "y": 299,
        "w": 742,
        "h": 82
    },
    {
        "id": "5be49851b8e7173f",
        "type": "inject",
        "z": "1e7bc46a3c1e81f5",
        "g": "d6e0ae3ba0b3d728",
        "name": "Générer Temp/humi",
        "props": [],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 340,
        "wires": [
            [
                "3cc4ff3cd151045f"
            ]
        ]
    },
    {
        "id": "3cc4ff3cd151045f",
        "type": "function",
        "z": "1e7bc46a3c1e81f5",
        "g": "d6e0ae3ba0b3d728",
        "name": "Capteur de temp/humi",
        "func": "// Vérifier la température initiale\nif (context.get('currentTemp') === undefined) {\n    context.set('currentTemp', 20); // Température initiale\n}\n\n// Générer une température réaliste entre 18 et 25 degrés Celsius\nlet minTemp = 18;\nlet maxTemp = 25;\nlet currentTemp = context.get('currentTemp');\n\n// Fluctuation lente : ajouter un petit changement\nlet fluctuation = (Math.random() - 0.5) * 0.5; // Valeur entre -0.25 et +0.25\ncurrentTemp += fluctuation;\n\n// Limiter les valeurs dans les bornes définies\ncurrentTemp = Math.max(minTemp, Math.min(maxTemp, currentTemp));\ncontext.set('currentTemp', currentTemp); // Stocker la température actuelle\n\n// Générer une humidité réaliste entre 30 et 70%\nlet minHumidity = 30;\nlet maxHumidity = 70;\nlet currentHumidity = context.get('currentHumidity') || 50; // Humidité initiale\n\n// Fluctuation lente pour l'humidité\nlet humidityFluctuation = (Math.random() - 0.5) * 1; // Valeur entre -0.5 et +0.5\ncurrentHumidity += humidityFluctuation;\ncurrentHumidity = Math.max(minHumidity, Math.min(maxHumidity, currentHumidity)); // Limiter l'humidité\ncontext.set('currentHumidity', currentHumidity); // Stocker l'humidité actuelle\n\n// Créer l'objet JSON avec température et humidité\nmsg.payload = {\n    temperature: parseFloat(currentTemp.toFixed(2)), // Limiter à 2 décimales\n    humidity: parseFloat(currentHumidity.toFixed(2))  // Limiter à 2 décimales\n};\n\n// Afficher les valeurs dans le debug\nnode.warn(`Température générée : ${msg.payload.temperature}, Humidité générée : ${msg.payload.humidity}`);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 340,
        "wires": [
            [
                "0f6412a6bb6f926f"
            ]
        ]
    },
    {
        "id": "0f6412a6bb6f926f",
        "type": "mqtt out",
        "z": "1e7bc46a3c1e81f5",
        "g": "d6e0ae3ba0b3d728",
        "name": "État Temp/humi",
        "topic": "Maison/Temperature/Temphumi",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e12ef56e.5c2b88",
        "x": 690,
        "y": 340,
        "wires": []
    },
    {
        "id": "b07533db85664ade",
        "type": "group",
        "z": "1e7bc46a3c1e81f5",
        "name": "Temperature Control",
        "style": {
            "stroke": "#000000",
            "fill": "#92d04f",
            "label": true,
            "label-position": "n",
            "color": "#000000",
            "fill-opacity": "0.46"
        },
        "nodes": [
            "c9394a672acaeca7",
            "202bda7b2bf11454",
            "c11d99188695a666",
            "2c748a1be306d4bc",
            "ceef10914c7d2b8f",
            "da7366e5d1f3834d"
        ],
        "x": 784,
        "y": 39,
        "w": 1022,
        "h": 182
    },
    {
        "id": "c9394a672acaeca7",
        "type": "mqtt in",
        "z": "1e7bc46a3c1e81f5",
        "g": "b07533db85664ade",
        "name": "Température cible",
        "topic": "CMD_Heater_Home",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "e12ef56e.5c2b88",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 930,
        "y": 80,
        "wires": [
            [
                "202bda7b2bf11454",
                "da7366e5d1f3834d"
            ]
        ]
    },
    {
        "id": "202bda7b2bf11454",
        "type": "function",
        "z": "1e7bc46a3c1e81f5",
        "g": "b07533db85664ade",
        "name": "Stocker la température cible",
        "func": "var targetTemp = msg.payload;\n\n// Vérifie que la température est bien un nombre valide\nif (!isNaN(targetTemp)) {\n    flow.set('targetTemp', targetTemp);  // Utilisation du contexte de flux\n    node.warn(`Température cible reçue et stockée : ${targetTemp}`);\n} else {\n    node.warn('Température reçue non valide');\n}\n\nreturn null;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c11d99188695a666",
        "type": "inject",
        "z": "1e7bc46a3c1e81f5",
        "g": "b07533db85664ade",
        "name": "Toutes les 2 minutes",
        "props": [],
        "repeat": "120",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 930,
        "y": 180,
        "wires": [
            [
                "da7366e5d1f3834d"
            ]
        ]
    },
    {
        "id": "2c748a1be306d4bc",
        "type": "function",
        "z": "1e7bc46a3c1e81f5",
        "g": "b07533db85664ade",
        "name": "Lire et envoyer la température cible",
        "func": "var targetTemp = flow.get('targetTemp') || \"0\";  // On récupère la température stockée\nmsg.payload = targetTemp;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 180,
        "wires": [
            [
                "ceef10914c7d2b8f"
            ]
        ]
    },
    {
        "id": "ceef10914c7d2b8f",
        "type": "mqtt out",
        "z": "1e7bc46a3c1e81f5",
        "g": "b07533db85664ade",
        "name": "Envoyer température",
        "topic": "Chambre/Chauffage/Heater",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e12ef56e.5c2b88",
        "x": 1680,
        "y": 180,
        "wires": []
    },
    {
        "id": "da7366e5d1f3834d",
        "type": "delay",
        "z": "1e7bc46a3c1e81f5",
        "g": "b07533db85664ade",
        "name": "Delay",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1150,
        "y": 180,
        "wires": [
            [
                "2c748a1be306d4bc"
            ]
        ]
    },
    {
        "id": "17e0067a421fd70a",
        "type": "group",
        "z": "1e7bc46a3c1e81f5",
        "name": "Solar Panel",
        "style": {
            "stroke": "#000000",
            "label": true,
            "label-position": "n",
            "color": "#000000",
            "fill": "#3f93cf",
            "fill-opacity": "0.42"
        },
        "nodes": [
            "30a34a8c5b77dc06",
            "5806c06b523bed89",
            "b8f753a2f78aade5"
        ],
        "x": 874,
        "y": 299,
        "w": 782,
        "h": 82
    },
    {
        "id": "30a34a8c5b77dc06",
        "type": "inject",
        "z": "1e7bc46a3c1e81f5",
        "g": "17e0067a421fd70a",
        "name": "Toutes les minutes",
        "props": [],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1020,
        "y": 340,
        "wires": [
            [
                "5806c06b523bed89"
            ]
        ]
    },
    {
        "id": "5806c06b523bed89",
        "type": "function",
        "z": "1e7bc46a3c1e81f5",
        "g": "17e0067a421fd70a",
        "name": "Générer la production solaire",
        "func": "var now = new Date();\nvar hour = now.getHours();\n\nvar production = 0;\n\nif (hour >= 6 && hour <= 18) {\n    production = Math.sin((Math.PI / 12) * (hour - 6)) * 1000;\n}\n\nproduction += (Math.random() - 0.5) * 50;\nproduction = Math.max(0, Math.round(production * 100) / 100);\n\nmsg.payload = {\n    time: now.toISOString(),\n    production: production\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 340,
        "wires": [
            [
                "b8f753a2f78aade5"
            ]
        ]
    },
    {
        "id": "b8f753a2f78aade5",
        "type": "mqtt out",
        "z": "1e7bc46a3c1e81f5",
        "g": "17e0067a421fd70a",
        "name": "Envoyer la production",
        "topic": "Roof/Solar_Panel/Solar",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e12ef56e.5c2b88",
        "x": 1530,
        "y": 340,
        "wires": []
    },
    {
        "id": "a71476224bb47bc9",
        "type": "group",
        "z": "1e7bc46a3c1e81f5",
        "name": "Camera",
        "style": {
            "stroke": "#000000",
            "fill": "#777777",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "2673bff1b298b05c",
            "33e0eb31e4c3ed3c",
            "5f4b34b03102ec68"
        ],
        "x": 54,
        "y": 419,
        "w": 752,
        "h": 82
    },
    {
        "id": "2673bff1b298b05c",
        "type": "inject",
        "z": "1e7bc46a3c1e81f5",
        "g": "a71476224bb47bc9",
        "name": "Envoi toutes les 10s",
        "props": [],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "x": 200,
        "y": 460,
        "wires": [
            [
                "33e0eb31e4c3ed3c"
            ]
        ]
    },
    {
        "id": "33e0eb31e4c3ed3c",
        "type": "function",
        "z": "1e7bc46a3c1e81f5",
        "g": "a71476224bb47bc9",
        "name": "Simuler image caméra",
        "func": "msg.payload = {\n    \"image\": \"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD...\",\n    \"timestamp\": new Date().toISOString()\n};\nmsg.topic = \"Camera_jardin\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 460,
        "wires": [
            [
                "5f4b34b03102ec68"
            ]
        ]
    },
    {
        "id": "5f4b34b03102ec68",
        "type": "mqtt out",
        "z": "1e7bc46a3c1e81f5",
        "g": "a71476224bb47bc9",
        "name": "Envoyer image",
        "topic": "Jardin/Camera/Camera",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e12ef56e.5c2b88",
        "x": 700,
        "y": 460,
        "wires": []
    }
]